@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$primary-color : #b6b5ee;

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: 'Lato', sans-serif;
    
    .main-container {

        .content-wrapper {
            max-width: 320px;
            margin: 50px auto;
            
            .form-wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 100px;
                width: 100%;

                .username {
                    border: none;
                    padding: 15px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    font-size: 1.1rem;
                }

                .username::placeholder {
                    font-family: 'Lato', sans-serif;

                }

                .button {
                    background-color: lighten($primary-color, 4);
                    color: darken($primary-color, 15);
                    padding: 15px;
                    border-radius: 5px;
                    border: none;
                    font-weight: 700;
                    font-family: 'Lato', sans-serif;
                    font-size: 1.1rem;
                }

                .button:hover {
                    background-color: lighten($primary-color, 2);
                }

            }

            .user-card {
                width: 100%;
                color: #FFF;
                border: 5px solid darken($primary-color, 7);
                background-color: darken($primary-color, 4);
                padding: 100px 60px 20px;
                text-align: center;
                border-radius: 5px;
                position: relative;

                .img-wrapper {
                    display: block;
                    max-width: 150px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    img {
                        width: 100%;
                        border-radius: 100px;
                        border: 5px solid darken($primary-color, 7);
                    }

                    img:hover {
                        border: 5px solid darken($primary-color, 10);
                    }
                }

                .user-name {
                    color: #FFF;
                    font-size: 2rem;
                    display: block;
                    margin-bottom: 20px;
                }
                
                [class*="-wrapper"] {
                    font-size: 1.1rem;
                    margin-bottom: 15px;

                    
                    .tag {
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                }

            }

        }
    }
}